<h1>{{title}}</h1>
<form method ="POST">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
    </fieldset>
    <fieldset>
        <label for="author">Author</label>
        <input type="text" name="author" id="author" required>
    </fieldset>
    <fieldset>
        <label for="description">Description</label>
        <input type="text" name="description" id="name" required>
    </fieldset>
    <fieldset>
        <label for="price">Price</label>
        <input type="Number" name="price" id="price" required>
    </fieldset>

    <button class="offset-3 btn btn-primary">Add</button>
</form>